RewriteEngine On
RewriteCond $1 !^(index\.php|uni_img|uni_tools|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-R
RewriteRule ^(.*)$ index.php/$1 [L]
ErrorDocument 400 /error.html
ErrorDocument 401 /error.html
ErrorDocument 403 /error.html
ErrorDocument 404 /error.html
ErrorDocument 500 /error.html
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

	<IfModule mod_php5.c>
		php_value upload_max_filesize 40M
   		php_value post_max_size 40M
	</IfModule>